/* *** Body  ***
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.body-container {
	width: 80%;
}

section {
	margin-bottom: 20px;
}
/* *** Navbar  ***
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.navbar {
	background: rgba(41,41,41,.3);
	color: #fff;
	height: 60px;
	line-height: 55px;
	z-index: 100;
	width: 100%;
	position: fixed;
	-webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

.navbar:hover {	
	background: rgba(41,41,41,.7);
	transition: ease-in-out 0.6s;
}

.navbar .container {
	position: static;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

.navbar-header {
	font-size: 1.4em;
	font-weight: 600;
}

.navbar-header img {
	margin: 10px 12px 14px 0;
	vertical-align: middle;
}

.navbar-header a {
	color: #fff;
	opacity: 0.6;
	text-decoration: none;
	-webkit-transition: opacity 0.2s ease-in-out;
			transition: opacity 0.2s ease-in-out;
}
	
.navbar-header a:hover,
.navbar-header a:focus {
	opacity: 1.0;
}

.hamburger {
	float: right;
	width: 22px;
	cursor: pointer;
	margin-top: 18.5px;
}

.hamburger span {
	display: block;
	background-color: #fff;
	height: 3px;
	margin-top: 4px;
	border-radius: 2px;
	-webkit-transition: 250ms ease-in-out;
			transition: 250ms ease-in-out;
}
	
.hamburger span:first-child {
	margin-top: 0;
}

.active .hamburger span:first-child {
	opacity: 1;
	-webkit-transform: translateY(7px) rotate(-45deg);
		-ms-transform: translateY(7px) rotate(-45deg);
			transform: translateY(7px) rotate(-45deg);
}
	
.active .hamburger span:last-child {
	opacity: 1;
	-webkit-transform: translateY(-7px) rotate(45deg);
		-ms-transform: translateY(-7px) rotate(45deg);
			transform: translateY(-7px) rotate(45deg);
}
	
.active .hamburger span {
	opacity: 0;
}

.navbar-nav {
	display: none;
	position: absolute;
	width: 100%;
	left: 0;
	top: 55px;
}

.navbar-nav ul {
	text-align: center;
	font-size: 1.2em;
	list-style: none;
	margin: 0;
	padding: 0;
}
	
.navbar-nav ul li {
	margin: 0;
	padding: 0;
}
		
.navbar-nav ul li a {
	display: block;
	background-color: #222;
	border-bottom: 2px solid #333;
	text-decoration: none;
	color: #fff;
	opacity: 1.0;
	-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
			transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

}

.navbar-nav ul li a:hover,
.navbar-nav ul li a:focus {
	background-color: #000;
	color: #fff;
	opacity: 1;
}
	
.active .navbar-nav {
	display: block;
}

/* Larger than tablet */	
@media screen and (min-width: 840px) {
.navbar-header {
	font-size: 1.8em;
	display: inline-block;
	float: left;
}

.hamburger {
	display: none;
}

.navbar-nav {
	display: inline-block;
	position: static;
	float: right;
	width: auto;
	left: 0;
	top: 0;
}

.navbar-nav ul {
	text-align: left;
	font-size: 1.4em;
}
		
	.navbar-nav ul li {
		display: inline-block;
		margin-right: 1.2em;
	}
	
	.navbar-nav ul li:last-child {
		margin-right: 0;
	}
	
	.navbar-nav ul li a {
		background: none;
		border-bottom: none;
		-webkit-transition: opacity 0.2s ease-in-out;
				transition: opacity 0.2s ease-in-out;
	}
	
	.navbar-nav ul li a:hover,
	.navbar-nav ul li a:focus {
		background: none;
		color: #fff;
		opacity: 0.7;
	}
}